<!--                Menu de prueba-->
<aside class="sidebar-nav" ng-controller="pinstanscreateController">
    <!-- sidebar: style can be found in sidebar.less -->

    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu"  style="height: 200px; overflow: auto; "> 
            <!--                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalProcessVariable">prueba</button>-->

            <!-- Modal -->
            <div id="myModalProcessVariable" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Instanciar un proceso</h4>
                        </div>
                        <div class="modal-body">
                            <table style="width: 100%" class="table table-bordered table-striped" id='crud-table'>
                                <thead>
                                    <tr>
                                        <th class="text-center" id="NOMBRE PROCESO" type="text">NOMBRE VARIABLE</th>
                                        <th class="text-center" id="FECHA DE CREACION" type="text">TIPO DE VARIABLE</th>
                                        <th class="text-center" id="FECHA DE CREACION" type="text">VALOR DE VARIABLE</th> 
                                        <th>Modificar</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="pinstanVariable in pinstanVariables">              
                                        <td> <input type="text" ng-model="pinstanVariable.nombre" readonly=true></td>
                                        <td> <select>
                                            <option ng-repeat="row in tipoVariable" value="{{row.valor}}" 
                                                    ng-selected="row.valor == pinstanVariable.tipo" ng-disabled="true">{{row.texto}}</option>
                                            </select></td>
                                        <td> <input type="text" ng-model="pinstanVariable.valor" readonly=true></td>              
                                        <td><button class="btn btn-info" ng-click="ModificarVariable()" value="Modificar"/></td>
                                        <td><button class="btn btn-Warning" ng-click="EliminarVariable()" value="Eliminar"/></td>

                                    </tr>
                                </tbody>                                           
                            </table>



                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </ul>
    </section>

</aside>
<!--                fin menu prueba-->