<aside class="sidebar-nav">
    <!-- sidebar: style can be found in sidebar.less -->

    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->

        <ul class="sidebar-menu">
            <li class="header">LISTA DE TAREAS POR EVENTOS</li>
        </ul>

        <ul class="sidebar-menu" style="height: 200px; overflow: auto;">

            <table class="table table-bordered table-striped" id='crud-table'>
                <thead>
                    <tr>
                        <th class="text-center" id="NOMBRE Evento" type="text">Nombre Actividad</th>
                        <th class="text-center" id="NOMBRE Evento" type="text">Tipo Actividad</th>
                        <th class="text-center" id="FECHA DE CREACION" type="text">Fecha de creación</th>
                        <th>Completar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="evento in eventosXInstancia">
                        <td type="text" class="text-center">{{evento.eventName}}</td>
                        <td type="text" class="text-center">{{evento.eventType}}</td>
                        <td type="text" class="text-center">{{evento.created}}</td>
                        <td>
                            <button class="btn btn-info" ng-click="CompletarEvento(evento)">Completar Evento</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ul>
    </section>
</aside>
