
            <!-- Modal -->
            <div id="usuarios" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">Close</button>
                            <h4 class="modal-title">USUARIOS</h4>
                        </div>
                        <div class="modal-body">
                            
                            <div class="row">
                                <div class="col-lg-3">
                                    
                                    <button class="btn btn-info form-control" data-toggle="modal" data-target="#usuarioForm">Agregar Usuario</button>
                                </div>
                            </div>
                            <table style="width: 100%" class="table table-bordered table-striped" id='crud-table'>
                                <thead>
                                    <tr>
                                        <th class="text-center" id="USUARIO" type="text">USUARIO</th>
                                        <th class="text-center" id="PROCESOS" type="text">PROCESOS</th>                                       
                                        <th>AgregarProceso</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="itemUsuario in usuarios">
                                        <td> <input type="text" class="form-control" ng-model="itemUsuario" disabled="true" /></td>  
                                                                            
                                        <td> 
                                            
                                            <textarea ng-model="procesos[$index]" class="form-control" disabled = "true">
                                                
                                            </textarea>
                                            
                                        </td>
                                        
                                        
                                        <td><button class="btn btn-info form-control"    value="Agregar">Agregar Proceso</button></td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div ng-include="'usuario.html'"></div>
